<div class="container">
  <div class="card">
    <img class="m-4" src="../../assets/images/perfil2.png">
    
    <div class="social-contact">
      <h3>Contact me</h3>
      <ul class="social-icons">
        <li><a (click)="whatsappCliente('+5491135665335')" style="color: #00bb2d;"><i class="fa fa-whatsapp" ></i></a></li>
        <li><a (click)="sendTo('https://www.linkedin.com/in/miqueas-aguirre-6215111b7/')" style="color: #0e76a8;"><i class="fa fa-linkedin" ></i></a></li>
        <li><a (click)="sendTo('https://github.com/MiqueasAguirreANX')" style="color: #6e5494;"><i class="fa fa-github" ></i></a></li>
      </ul>
    </div>
  </div>
</div>

