
<div class="title is-2">
    Miqueas Absalóm Aguirre
</div>
<div class="block">
    <div class="dev subtitle is-3">Software</div><div class="dev subtitle is-3">Developer</div> 
</div>
<p class="info-text">
    I am a freelance developer (1+ year)
</p>
<p class="info-text">
    I am a fan of mathematics, logic and programming
</p>
<p class="info-text">
    My orientation is for fullstack development and data science
</p>
    

<div class="card stack">
    <div class="tech">
        <ul>
            <li class="title is-6">Frontend</li>
            <li>Angular</li>
            <li>Bulma</li>
            <li>Less</li>
        </ul>
    </div>
    <div class="tech">
        <ul>
            <li class="title is-6">Backend</li>
            <li>Nodejs + Express</li>
            <li>Django</li>
            <li>Firebase</li>
        </ul>
    </div>
    <div class="tech">
        <ul>
            <li class="title is-6">Database</li>
            <li>MySQL</li>
            <li>Mongodb</li>
            <li>SQLITE</li>
        </ul>
    </div>
    <div class="tech">
        <ul>
            <li class="title is-6">Python</li>
            <li>ETL (Numpy, Pandas, Matplotlib and Seaborn)</li>
            <li>Web scraping (Selenium and Beautiful Soup)</li>
            <li>Scripting (Cron jobs, Automatization, ETC)</li>
        </ul>
    </div>
</div>
